<ion-menu side="start" auto-hide="true"
menuId="custom" contentId="principal" 
type="overlay" [swipeGesture]="false"
class="my-custom-menu" >
  <ion-header>
    <ion-toolbar >
      <ion-title>Custom Side Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle menu="custom">
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
